<link href="public/panel.css" type="text/css" rel="stylesheet">
<script src="public/panel.js"></script>

<section>
  <h2>Client Grants</h2>
</section>

<div>
  <section id="client-grant-panel" class="row">
    <div class="col-10">
      <h3>Validate / Install Client Grants</h3>
        <span>
          Validate: Returns a set of validation failure messages if any. An empty set means that validation passed.
          <br>
          Install: Install grants. Can be used to fix permissions for a client.
        </span>
      <div class="opshub-well">
        <form class="aui">
          <fieldset>
            <div class="field-group">
                <table>
                  <tr>
                    <th width="30%">Parameter</th>
                    <th width="70%">Value</th>
                  </tr>
                  <tr>
                    <td><label for="clientId">OAuth Client Id</label></td>
                    <td><input id="clientId" class="text" type="text" name="clientId"></td>
                  </tr>
                  <tr>
                    <td><label for="resourceAri">ResourceAri</label></td>
                    <td><input id="resourceAri" class="text" type="text" name="resourceAri"></td>
                  </tr>
                  <tr>
                    <td><label for="scopes">Scopes (comma separated list)</label></td>
                    <td><input id="scopes" class="text" type="text" name="scopes" value="participate:conversation"></td>
                  </tr>
                  <tr>
                    <td><label for="audience">Audience</label></td>
                    <td>
                      <select id="audience" name="audience">
                        <option value="api.atlassian.com" selected>api.atlassian.com</option>
                        <option value="api.stg.atlassian.com">api.stg.atlassian.com</option>
                      </select>
                    </td>
                  </tr>
                </table>
                <div class="row">
                  <button id="validate-button" type="button" class="aui-button">Validate</button>
                  <button id="install-button" type="button" class="aui-button">Install</button>
                </div>
            </div>
          </fieldset>
        </form>
        <div class="loading"></div>
        <div class="results" style="display: none">
          <span id="validation-result"></span>
          <span id="install-result"></span>
        </div>
      </div>
    </div>
  </div>
</section>

</div>